!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title High Scores
    %link{rel: 'stylesheet', href: '/style.css'}
  %body
    %h1.center my way High Scores
    - @users.each_with_index do |user, index|
      %ul
        %li.item
          .index= index + 1
          .name= user.name
          .score= "%06d00" % user.score.to_i
